<!-- This is for the user account page. This is unique to each user -->

<!-- Link to jQueryUI css -->
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- Linking to foundation.css -->
<link rel="stylesheet" href="/assets/css/foundation.min.css">
<!-- Linking to our custom css -->
<link rel="stylesheet" href="/assets/css/app.css">
<!-- Latest compiled and minified CSS -->

<!-- Nav Bar -->
<nav class="top-bar">
	  <div class="top-bar-left">
	    <h3>Logo</h3>
	  </div>
	  <div class="top-bar-right">
	    <ul class="dropdown menu" data-dropdown-menu>
	    <!-- Drop down menu -->
	      <li><a href="#">UserName</a>
	      		<ul class="menu vertical align-center">
		          <li><a href="#">Profile</a></li>
		          <li><a href="#">Logout</a></li>
		        </ul>
	      </li>
	      
	      <li><a href="#">AIP</a></li>

	      <li><a href="#">Home</a></li>
	    </ul>
	  </div>
</nav>

<section class="grid-x">
		<div class="medium-7 cell input-group input-group-rounded wrapper">
			  <input class="input-group-field" type="search" placeholder="Search your notes">
			  <div class="input-group-button">
			    <input type="submit" class="button secondary" value="Search">
			  </div>
		</div>
</section>

<!-- This section needs to be dynamicly changing the height based on screen size -->
<section class="grid-container">

	<div class="grid-x grid-padding-x mainContent">

		<!-- Side Bar -->
		<aside class="medium-2 cell" id="recipeSection">
			<div class="grid-y">
				<p><button class="button" data-open="exampleModal1">Click me for a modal</button></p>
			</div>

			<!-- Modal to create a new note -->
			<div class="reveal" id="exampleModal1" data-reveal>
			  <h3>Would you like to create a new note or find  new recipies?</h3>
			  <button class="close-button" data-close aria-label="Close modal" type="button">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>

			<div id="recentNotes">
				<h5> Recent Notes </h5>
				<hr>
				<ul>
					<li><a>Lemon Recipe</a></li>
					<li><a>Homework 3</a></li>
					<li><a>Turkey Recipe</a></li>
					<li><a>Glazed Ham</a></li>
					<li><a>Sugar Cookie</a></li>
				</ul>
			</div>

			<div id="trending">
				<h5>Trending Recipes</h5>
				<hr>
				<ul>
					<li><a>Roasted Tofu</a></li>
				</ul>
			</div>

		</aside>

		<!-- Main Section -->
		<div class="medium-10 cell shadow" id="noteBox">

	      <!-- CARD -->
	      <!-- Card data will be pulled from User Note/Recipe Database -->
	      <!-- Need to let users make new notes/delete/edit -->
	      <!-- Card needs to open (Modal?)-->
	      <!-- Pagination is needed or scrolling the area -->

	      <div class="card" id="divResize">
	        <div class="card-divider">
	          <h5>Draggable</h5>
	        </div>
	        <img src="http://foundation.zurb.com/sites/docs/assets/img/generic/rectangle-1.jpg">
	        <div class="card-section">
	          <p>User can also resize</p>
	        </div>
	      </div>

		</div>
	</div>
</section>

<!-- Footer -->
<footer class="footer">
	<section class="wrapper">
		<p> &#169; Data Driven AIP Group 2017 </p>
	</section>
</footer>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- Linking to foundation js files -->
<script src="/assets/js/vendor/what-input.js"></script>
<script src="/assets/js/vendor/foundation.min.js"></script>
<!-- Linking to our custom js -->

<script src="/assets/js/app.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
	// makes cards moveable
    	$(function() { $("#divResize").draggable({containment: "parent"}).resizable(); });  
});
</script>

