<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AIP Guide</title>

    <link rel="stylesheet" href="/assets/css/reset.css">
    <!-- Link to jQueryUI css -->
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <!-- Linking to foundation.css -->
    <link rel="stylesheet" href="/assets/css/foundation.min.css">
    <!-- Linking to our custom css -->
    <link rel="stylesheet" href="/assets/css/app.css">
	</head>
	<body>
		{{{ body }}}

		<!-- Linking to jQuery files -->
		<script src="/assets/js/vendor/jquery.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

		<!-- Linking to foundation js files -->
	    <script src="/assets/js/vendor/what-input.js"></script>
	    <script src="/assets/js/vendor/foundation.min.js"></script>
	    
	    <!-- Linking to our custom js -->
	    <script src="/assets/js/app.js"></script>
	</body>
</html>
