<!-- Home Page-->


<!-- Linking to foundation.css -->
<link rel="stylesheet" href="../assets/css/foundation.min.css">
<!-- Latest compiled and minified CSS -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300|Roboto" rel="stylesheet">
<!-- Linking to our custom css -->
<link rel="stylesheet" href="../assets/css/home.css">
<style type="text/css">
  body{
    background-image: url("../assets/image/carrots-min.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
</style>

<!-- Nav Bar -->
<nav class="top-bar" id="nav">
    <div class="top-bar-left">
      <a class="navbar-brand" href="./"><img src="/assets/image/logo.png" width="80" alt="logo"></a>
    </div>
    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>
      <!-- Drop down menu -->
        <li class="hvr-underline-from-center" id="navButtons"><a href="/user_account">Log In</a></li>
        <li class="hvr-underline-from-center" id="navButtons"><a href="/">Home</a></li>
      </ul>
    </div>
</nav>


<header class="grid-x" >
  <div class="small-3 cells"></div>
  <div class="small-6 cells">
    <h1 id="header">
      Autoimmune Paleo
    </h1>
  </div>
</header>

<section class="grid-x" >
  <div class="small-2 cells"></div>
  <div class="small-7 cells">
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src= "../assets/image/autoimmune-min.jpg">
        </div>
      </div>
      <div class="media-object-section main-section">
        <h4>What is Autoimmue Disease?</h4>
        <p>Autoimmune disease is a condition where the body cannot tell the difference between healthy tissue and foreign invaders and a hypersensitive reaction occurs. The body starts self-tissue attack.For months or perhaps years, this self-tissue attack can occur silently until full blown autoimmune disease develops. </p>
      </div>
    </div>    
  </div>
</section>

<section class="grid-x">
  <div class="small-2 cells"></div>
  <div class="small-7 cells">
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src= "../assets/image/caveman-min.jpg">
        </div>
      </div>
      <div class="media-object-section main-section">
        <h4>How can the AIP Diet help? </h4>
        <p>The Autoimmune Protocol (AIP) diet works to reduce inflammation in the intestines. Many elimination diets are not complete enough and often do not remove immune triggers that promote inflammation in the gut. AIP works to calm inflammation in the gut and also calm inflammation in the body. While autoimmune disease can never be cured, it can be put into remission. </p>
      </div>
    </div>    
  </div>
</section>

<section class="grid-x" >
  <div class="small-5 cells"></div>
  <div class="small-2 cells">
    <button class="hollow button success large" id="hvr-pulse-grow"><a href="/food">Food Data</a></button>
  </div>
</section>


<!-- Footer -->
<footer class="footer">
  <section class="wrapper">
    <p> &#169; Data Driven AIP Group 2017 </p>
  </section>
</footer>



<!-- jQuery -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<!-- Linking to foundation js files -->
<script src="../assets/js/vendor/what-input.js"></script>
<script src="../assets/js/vendor/foundation.min.js"></script>
<script type="text/javascript">
  $(document).foundation();
</script>