<!-- This will be the home/landing page -->
<!-- Needs blurb on what AIP is -->
<!-- Needs sign-in functionality -->
<!-- Can redirect non-account holders to explore the rest of the site -->

<h1>Home Page</h1>

<h2>Welcome to Data Driven AIP</h2>