<!-- Home Page-->


<!-- Linking to foundation.css -->
<link rel="stylesheet" href="/assets/css/foundation.min.css">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300|Roboto" rel="stylesheet">
<!-- Linking to our custom css -->
<link rel="stylesheet" href="/assets/css/home.css">
<style type="text/css">
	body {
		background-image: url("../assets/image/woodbackground-min.jpeg");
  	background-repeat: no-repeat;
    background-size: 100%;
	}
</style>

<section id="index">
  <div class="grid-x">
    <div class="small-3 cells"></div>
    <div class="small-6 cells">
      <h1> Data Driven <br>
        Autoimmune Paleo
      </h1>
      <button class="hollow button success large hvr-float-shadow" id="homeButton"><a href="/what_is">Get Started</a></button>
    <button class="hollow button success large hvr-float-shadow" id="homeButton" ><a href="/user_account">Log In</a></button>
    </div>
  </div>
</section>


  <!-- Footer -->
  <footer class="footer">
    <section class="wrapper">
      <p> &#169; Data Driven AIP Group 2017 </p>
    </section>
  </footer>
</section>



<!-- jQuery -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<!-- Linking to foundation js files -->
<script src="/assets/js/vendor/what-input.js"></script>
<script src="/assets/js/vendor/foundation.min.js"></script>