<!-- This will be the home/landing page -->
<!-- Needs blurb on what AIP is -->
<!-- Needs sign-in functionality -->
<!-- Can redirect non-account holders to explore the rest of the site -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/cl_style.css">
<style>
	circle{
		  stroke: #000;
		  stroke-opacity: .5;
		}
</style>
<!-- Add CSS Links up there ^^ -->

<!-- HTML Content here vv -->
<center>
	<p style="color:;font-weight:bold;font-size:34px;">
		<span style="color:green">A</span><span style="color:green">
		<span style="color:#66ccff">I</span>
		<span style="color:#FFB400">P</span>
	</p>
</center>
<center> 
		<span style="color:#FFB400"><p>Lifestyle</p></span>
</center>	

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<!-- empty spacer column -->
		</div>

		<div class="col-md-6">
			<!-- all my content -->
	 	<span style="color:green" style="color:#FFB400">The Autoimmune Protocol is a diet that helps heal the immune system and gut mucosa. It is applicable to any inflammatory disease.
	 	</span><br>
		<span style="color:#FFB400">We have a problem in this country with how we eat, treat disease and heal disease. AIP addresses inflammation in the gut that causes Autoimmune Disease. Autoimmune disease is a condition where the body cannot tell the difference between healthy tissue and foreign invaders and a hypersensitive reaction occurs. The body starts self-tissue attack. For months or perhaps years, this self-tissue attack can occur silently until full blown autoimmune disease develops. There are more than 80 types of "official" autoimmune disorders (and MANY more being discovered daily) but all autoimmune disease have in common is tissue self-attacking in places like the thyroid gland, brain tissue or salivary glands, to name a few.
		</span><br>

		<span style="color:green">The Autoimmune Protocol (AIP) diet works to reduce inflammation in the intestines. Many elimination diets are not complete enough and often do not remove immune triggers that promote inflammation in the gut. AIP works to calm inflammation in the gut and also calm inflammation in the body. And while autoimmune disease can never be cured, it can be put into remission. The AIP diet is geared toward healing the intestinal mucosa and supporting low inflammation in the body that can temper the fires of an autoimmune flare-up. First I would like to say that this is our interpretation. There is more than one interpretation of how to “follow” the Autoimmune Protocol (AIP) diet. I call it a lifestyle because in a modified form it is how I eat and live my life. It is also how I recommend my autoimmune clients to eat in their own modified form long term as well.</span><br>

		<span style="color:#71EB21">The Autoimmune protocol has been said to be a version of the Paleo diet, but really, I see that it is so much more than that; it is a dramatic way to address inflammation that is driving Autoimmune Disease that has its beginning roots in the gut. Diet is one aspect of healing. And, although it is the largest aspect of long term health, in the short-term, there are other components that require the help of a skilled practitioner. I suggest you find one that is trained. I personally have a professional practice primarily around helping those on this diet as well as nutritional lab work evaluations, supplement protocols and dietary support. Please email me at info@aiplifestyle.com if you would like to set up an appointment and work together remotely. There are many divergent paths that have an overlap with the AIP lifestyle like Autoimmune disease, adrenal fatigue, H-P Axis imbalances, co-infectins, parasites, SIBO, liver congestion, hormone imbalances, insulin resistance that play a role in how you may use supplements along with the AIP diet to heal your body.  Each person who decides to try the AIP diet should work with their practitioner to determine if they are candidates for a low histamine, low latex and/or low FODMAP in addition to following AIP. This is where you will benefit from having an experienced, clinically seasoned practitioner to help personalize your AIP plan. Other adjunct protocols may include: functional blood chemistry, saliva hormone testing, saliva adrenal testing, stool testing and antibody tests.
		</span><br>

		</div>
	</div>
</div>

<center> 
	<form>
		<input class="MyButton" type="button" value="Login" onclick="window.location.href='user_account'">
	</form>
</center>
<!-- HTML Content ends here ^^ -->

<!-- JS linked down here vv -->
<script src="http://d3js.org/d3.v2.js"></script>
