<!DOCTYPE html>

<html>

<head>

	<title> Sign-in </title>

</head>

<body>
	<form id="signin" name="signin" method="post" action="authenticate_email">

		<label for="email"> E-mail Address: </label>
		<input class="text" name="email" type="text" />

		<label for="password"> Password: &nbsp &nbsp &nbsp &nbsp &nbsp</label>
		<input class="password" type="password" name="password" />

		<input class="btn" type="submit" value="Sign In" />
	</form>
</body>

</html>
